h1, h2, h3, h4, h5{
    text-transform: uppercase;
    font-family: 'ITC Avant Garde Gothic';    
}

a {
    text-transform: uppercase;    
}

.fs-18 {
    font-size: 18px;
    color: #4d4d4d;
}

body {
    font-family: AvantGarde-Book;
    color: #494949;
    font-size: 15px;
    line-height:30px; 
    
}
:root{
	--primary-color:#15263e; 
	--color1:#a21afe; 
	--color2:#ff0072; 
}

.john-gra {
    background-image: -moz-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    background-image: -webkit-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    background-image: -ms-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.header-area{
	background-color: var(--primary-color);
}
.john-gradient{
    background-image: -moz-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    background-image: -webkit-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
    background-image: -ms-linear-gradient( 49deg, rgb(219,219,219) 0%, rgb(41,10,89) 0%, rgb(162,26,240) 0%, rgb(255,0,114) 100%);
}


i {
    width: 75px;
    height: 75px;
}


/* -----------------------------------------------------
header-area
--------------------------------------------------------*/

.primary-menu ul{
    align-items: center;
}
.primary-menu ul li a {
    font-family: 'ITC Avant Garde Gothic';
    font-size: 13px;
    margin-right:10px;
}

.primary-menu ul li a::before {
    content: '-';
    margin-right:30px;
}

.primary-menu ul li:first-child a::before, .primary-menu ul ul li a::before {
    display: none;
}

/* -----------------------------------------------------
john-banner-area 
--------------------------------------------------------*/

.john-banner-area {
    background-image: url(../img/header-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* -----------------------------------------------------
gra not working 
--------------------------------------------------------*/

.john-name {    
    font-size: 200px;

    /* background: linear-gradient(to right, var(--color1) 0% var(--color2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   */
}

/* -----------------------------------------------------
                                        gra not working 
--------------------------------------------------------*/


.john-banner-content h2 {    
    font-size: 100px;
    letter-spacing: 50px;
    margin-top: -40px;
}

.john-banner-content h3 {    
    letter-spacing: 10px;
    margin-bottom: -20px;
}

.john-banner-content p {    
    letter-spacing: 4px;       
}




/* -----------------------------------------------------
john-about-area 
--------------------------------------------------------*/

.john-about-left h4 {
    color: var(--color1);
}

.john-about-center img {
    max-width: 100%;
    height: auto;
}

/* -----------------------------------------------------
john-contact-info-area 
--------------------------------------------------------*/

.john-single-contact-img i {
    background-color: var(--primary-color);
}

/* -----------------------------------------------------
john-service-area
--------------------------------------------------------*/
.john-section-heading h2 {
    color: var(--primary-color);
}


/* -----------------------------------------------------
john-slider-area
--------------------------------------------------------*/


.john-slider-area{
    background-image: url(../img/bg-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.single-carousel-right img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.single-carousel-author h5{
  color: #c714d5;
}




/* -----------------------------------------------------
john-Portfolio-area
--------------------------------------------------------*/
.john-portfolio-content h2 {
    color: var(--primary-color);
}

.prot-color a {
    color: #4d4d4d;
}

.prot-color a:hover {
    color: #a91aef;
}

/* -----------------------------------------------------
john-Experience-area
--------------------------------------------------------*/
.mamun::after {
    content: "";
    background-color: #dcdcde;   
    width: 14px;
    height: 62px;
    position: absolute;
    top: 15px; 
    left:340px;
  }

  .shuvo::before {
    content: "";
    background-color: #dcdcde;   
    width: 14px;
    height: 62px;
    position: absolute;
    top: 15px; 
    right:340px;
  }


/* -----------------------------------------------------
john-blog-area
--------------------------------------------------------*/

.paragarap {
    width: 360px;
    text-align: justify;
}




/* -----------------------------------------------------
john-footer-area
--------------------------------------------------------*/

.john-footer-area {
    background-image: url(../img/Creative-One-Page-Portfolio-Website-Template-Free-PSD.png);
}

.back-c {
    background-color: var(--primary-color);
}



#T {
    width: 80%;
    height: 80px;
    
}

#M {
    width: 100%;
    height: 200px;
}
